<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundlePackageType</key>
            <string>APPL</string>
        <key>CFBundleName</key>
            <string>AIC Desktop</string>
        <key>CFBundleExecutable</key>
            <string>aic-desktop</string>
        <key>CFBundleIdentifier</key>
            <string>ai.ivec.desktop</string>
        <key>CFBundleVersion</key>
            <string>{{VERSION}}</string>
        <key>CFBundleGetInfoString</key>
            <string>AIC Desktop — 平台桌面客户端</string>
        <key>CFBundleShortVersionString</key>
            <string>{{VERSION}}</string>
        <key>CFBundleIconFile</key>
            <string>icons</string>
        <key>CFBundleIconName</key>
            <string>appicon</string>
        <key>LSMinimumSystemVersion</key>
            <string>12.0.0</string>
        <key>NSHighResolutionCapable</key>
            <string>true</string>
        <key>NSHumanReadableCopyright</key>
            <string>Copyright (C) 2025-2026 ivec.ai</string>
    </dict>
</plist>